<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Delegate.XrmContext" version="1.5.4" targetFramework="net472" />
  <package id="Delegate.XrmDefinitelyTyped" version="4.3.12" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.CoreTools" version="9.0.3.4" targetFramework="net472" />
  <package id="spkl" version="1.0.226" targetFramework="net472" />
</packages>
