<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Delegate.XrmContext" version="1.7.2" targetFramework="net471" />
  <package id="Delegate.XrmDefinitelyTyped" version="5.1.6" targetFramework="net471" />
  <package id="Microsoft.CrmSdk.CoreTools" version="9.1.0.38" targetFramework="net471" />
  <package id="spkl" version="1.0.370" targetFramework="net471" />
</packages>