<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="solutions" value="AddName" />
    <add key="entities" value="systemuser,team,businessunit"/>
    <add key="web" value="Web" />
    <add key="rest" value="Rest" />
    <add key="crmVersion" value="9"/>
    <add key="generateMappings" value="false" />
    <add key="skipInactiveForms" value="true" />
    <add key="views" value="Views" />
    <add key="oneFile" value="false"/>
  </appSettings>
</configuration>
