<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="out" value="../../../Entities/Context"/>
    <add key="solutions" value="AddName"/>
    <add key="entities" value="systemuser,team,businessunit"/>
    <add key="namespace" value="Entities"/>
    <add key="servicecontextname" value="XrmContext"/>
    <add key="sdkversion" value="9"/>
    <add key="onefile" value="false"/>
  </appSettings>
</configuration>
