<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://URL.crm6.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="solutions" value="SolutioNameHere"/>
    <add key="namespace" value="Entities"/>
    <add key="servicecontextname" value="XrmContext"/>
    <add key="sdkversion" value="9"/>
    <add key="onefile" value="false"/>
  </appSettings>
</configuration>
