<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://ccmscoredev01.crm6.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="solutions" value="CCMSCore"/>
    <add key="entities" value="
         solution,
         publisher
         "/>
    <add key="namespace" value="CCMS.Entities"/>
    <add key="servicecontextname" value="CCMSContext"/>
    <add key="sdkversion" value="9"/>
    <add key="onefile" value="false"/>
  </appSettings>
</configuration>
